body {
    font-size: 18px;
    background-color: rgb(205, 245, 245);
}

h1 {
    text-align: center;
}

section {
    align-items: center;
    width: 72vw;
    height: 62vh;
    margin: 2vw 8vw;
    display: flex;

}

button {
    border-radius: 10px;
    width: 14vw;
    height: 10vh;
    margin-top: 3vh;
    font-size: 1rem;
    font-size: 1em;


    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(211, 70, 4);
}

.charge {
    width: 16vw;
    height: 14vh;
    border: solid black 2px;
}

#full {
    width: 6vw;
    height: 4vh;
    background-color: black;
}

#battery-countaner {
    padding-top: 4vh;
    text-align: 12px;
    width: 30vw;
    height: 50vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#button-countaner {
    width: 20vw;
    height: 20vh;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    border: rgb(211, 70, 4) solid 2px;
}